@media screen and (max-width:800px) {
    nav {
        width: 40vw;
        margin: 3vw;
    }


    .burger {
        width: 9vw;
        height: 9vw;
        margin-right: 4vw;
    }
    .burger .line,
    .burger .line::after,
    .burger .line::before {
        height: 0.6vw;
    }
    .burger .line::before {
        top: 1.5vw;
    }
    .burger .line::after {
        top: -1.6vw;
    }
    #menu {
        width: 111vw;
    }


    section {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    section#home {
        height: 70vh ;
        margin-bottom: 4vh;
    }
    .right {
        width: 100%;
        height: 70%;
        background-size: 265%;
    }
    .left {
        width: 100%;
    }
    .left > span {
        font-size: 7vw;
    }
    #span1 {
        width: 60%;
    }
    #span2 {
        padding-right: 10vw;
    }
    .btn {
        width: 100%;
    }
    .btntext{
        width: 100%;
        font-size: 1.2em;
    }

    

    
    footer {
        padding: 1.5em;
        font-size: 0.6em;
    }
}