@media screen and (max-width:800px) {
    nav {
        width: 40vw;
        margin: 3vw;
    }


    .burger {
        width: 9vw;
        height: 9vw;
        margin-right: 4vw;
    }
    .burger .line,
    .burger .line::after,
    .burger .line::before {
        height: 0.6vw;
    }
    .burger .line::before {
        top: 1.5vw;
    }
    .burger .line::after {
        top: -1.6vw;
    }
    #menu {
        width: 111vw;
    }


    .words {
        width: 60vw;
        padding-top: 4vh;
        padding-bottom: 6vh;
    } 
    #photoes .content-container
    {
        width:300px;
        height: 300px;
    }
    .content-container:nth-child(1n)::before 
    {
        font-size: 6vw;
    }


    footer {
        padding: 1.5em;
        font-size: 0.6em;
    }
}